{% extends "home/base.html" %}
{% block content %}
<h1>About Us</h1>
<article class="media content-section">
    <div class="media-body">
        <div class="device-metadata">
            Sponsor
        </div>
        <div class="container">
            <p>This research was supported by the Republic of Korea’s MSIT (Ministry of Science ICT),
                under the High-Potential Individuals Global Training Program (Task No. 2020-0-01540),
                supervised by the IITP (Institute for Information & Communications Technology Planning & Evaluation).</p>
        </div>
    </div>
</article>
<!--    {% for list in devices %}-->
<!--        <p>{{ list.mfModel }}</p>-->
<!--        <p>{{ list.batteryStatus }}</p>-->
<!--    {% endfor %}-->
{% endblock content %}